<link rel="import" href="../bower_components/marked-element/marked-element.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="markdown-page">
  <template>
    <style>
    a {
      color: #369;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    p {
      font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
      line-height: 1.5;
      max-width: 800px;
    }
    </style>
    <marked-element disable-remote-sanitization on-marked-render-complete="onRender">
      <div slot="markdown-html"></div>
      <script type="text/markdown" src$="[[source]]"></script>
    </marked-element>
  </template>
  <script>
  class MarkdownPage extends Polymer.Element {
    static get is() { return 'markdown-page'; }
    static get properties() { return {
      page: {
        type: String,
        observer: 'pageChanged'
      }
    }}
    pageChanged(page) {
      if (page) {
        this.source = '/content/' + page + '.md';
      }
    }
    onRender() {
      this.dispatchEvent(new CustomEvent('render'));
    }
  }
  customElements.define(MarkdownPage.is, MarkdownPage);
  </script>
</dom-module>
